@charset "UTF-8";

body {
  font-family: 'Roboto', sans-serif;
  color: #373737;
  margin: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

button:focus,
input:focus,
a:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.slick-active {
  outline: none;
}

/* @import '_reset.sass' */

.header {
  padding: 15px 0px;
}

.header-logo {
  background: url("../img/header/header-logo.png") center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
  font-weight: 500;
}

.header-contacts__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.phone_link {
  text-decoration: none;
  color: #373737;
  cursor: pointer;
}

.menu {
  background-color: #373737;
  font-size: 12px;
  font-weight: 400;
  padding-top: 17px;
  padding-bottom: 17px;
  text-transform: uppercase;
}

.menu-item {
  text-decoration: none;
  color: #fff;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.menu-item::after {
  content: '';
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-right: 1px dotted #fff;
}

.menu-item:last-child::after {
  border-right: none;
}

.menu-item:hover {
  color: #fd9c28;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #313131;
  margin-bottom: 30px;
}

.section-title::after {
  content: '';
  display: block;
  margin-top: 12px;
  height: 6px;
  background: url("../img/production/title-after.png") center no-repeat;
}

.button {
  font-size: 14px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #fd9c28;
  padding: 13px 22px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.button img {
  vertical-align: middle;
}

.button:hover {
  cursor: pointer;
  background-color: #fda841;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button:focus {
  outline: none;
}

.button_big {
  padding-top: 19px;
  padding-bottom: 19px;
  vertical-align: middle;
}

.button-o {
  background-color: transparent;
  color: rgba(55, 55, 55, 0.5);
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-o:hover {
  cursor: pointer;
  background-color: #fda841;
  color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #373737;
}

.slider-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 22px;
  z-index: 2;
}

.slider-arrow_prod {
  border: 1px solid #fd9c28;
}

.slider-arrow:hover {
  cursor: pointer;
}

.slider-arrow_right {
  right: 0;
  background: #fff url("../img/arrow-right.png") center no-repeat;
}

.slider-arrow_right:hover {
  background: #fd9c28 url("../img/arrow-right_active.png") center no-repeat;
}

.slider-arrow_left {
  left: 0;
  background: #fff url("../img/arrow-left.png") center no-repeat;
}

.slider-arrow_left:hover {
  background: #fd9c28 url("../img/arrow-left_active.png") center no-repeat;
}

.slider-arrow_feedback-right {
  background: transparent url("../img/arrow-right_feed.png") center no-repeat;
}

.slider-arrow_feedback-right:hover {
  background: #fd9c28 url("../img/arrow-right_feed-active.png") center no-repeat;
}

.slider-arrow_feedback-left {
  background: transparent url("../img/arrow-left_feed.png") center no-repeat;
}

.slider-arrow_feedback-left:hover {
  background: #fd9c28 url("../img/arrow-left_feed-active.png") center no-repeat;
}

.slider-arrow-mobile {
  position: absolute;
  height: 79px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fd9c28;
}

.slider-arrow-mobile_right {
  right: 0;
  background: #fd9c28 url("../img/arrow-right_active.png") center no-repeat;
}

.slider-arrow-mobile_left {
  left: 0;
  background: #fd9c28 url("../img/arrow-left_active.png") center no-repeat;
}

.dark-bg {
  position: relative;
  z-index: 2;
  /* Затемнение фонового изображения  на главном экране*/
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.main {
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  /*Оформление главной картинки */
  /* Заголовок */
}

.main-img {
  margin-left: -100px;
}

.main-text__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-text__subtitle {
  margin-bottom: 27px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  margin-bottom: 20px;
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title_important {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.form__input {
  padding: 20px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
}

.form-small {
  margin-left: 19px;
  font-size: 14px;
  font-weight: 300;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-bottom: -100px;
  }

  40% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes move {
  from {
    opacity: 0;
    margin-bottom: -100px;
  }

  40% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.features {
  padding-top: 49px;
  padding-bottom: 55px;
  background-color: #f4f4f4;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  background-color: #fff;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 9px;
}

.features-block__title {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
}

.features-block__discr {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.numbers {
  margin-bottom: 37px;
  text-align: center;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  margin-bottom: 10px;
  color: #fd9c28;
  font-size: 36px;
  font-weight: 900;
}

.numbers-block__title sup {
  font-size: 19px;
}

.numbers-block__text {
  font-size: 16px;
}

.production {
  padding-top: 57px;
  padding-bottom: 73px;
}

.production-block {
  margin-bottom: 35px;
  text-align: center;
}

.production-block-last {
  margin-bottom: 0px;
}

.production-block__img {
  margin-bottom: 19px;
}

.production-block__title {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
  color: #313131;
}

.production-block__button {
  margin-right: 12px;
}

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  background: #373737 url("../img/offer/bg.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 400;
}

.offer-subtitle {
  display: block;
  font-size: 26px;
}

.offer-form__label {
  margin-top: 32px;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
  display: block;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  text-align: center;
}

.offer-form-small {
  margin-left: 0;
}

.offer__button {
  margin-bottom: 9px;
}

.manufacture {
  padding-top: 87px;
  padding-bottom: 95px;
}

.manufacture-slider {
  position: relative;
  z-index: 2;
}

.manufacture-slider:focus {
  outline: none;
}

.manufacture-slider_top {
  margin-bottom: 13px;
  height: 377px;
  overflow-y: hidden;
}

.manufacture-slider_top img {
  height: 377px;
  -o-object-fit: cover;
  object-fit: cover;
}

.manufacture-slider_bottom {
  padding-right: 30px;
  padding-left: 30px;
  height: 78px;
  overflow-y: hidden;
}

.manufacture-slider_bottom img {
  height: 78px;
}

.manufacture-slider_bottom-item {
  position: relative;
  margin: 0  3px;
  outline: none;
}

.manufacture-slider_bottom-item::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.manufacture-slider_bottom-item img {
  width: 100%;
}

.manufacture-slider_bottom .slick-current::before {
  background-color: transparent;
}

.manufacture-text {
  max-width: 379px;
}

.manufacture-text__descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.manufacture-text__title {
  position: relative;
  width: 110%;
  margin-left: -10%;
  margin-top: 19px;
  margin-bottom: 28px;
  padding-left: 10%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: -1;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  background-color: #fd9c28;
}

.clients {
  padding-bottom: 55px;
  text-align: center;
}

.clients__img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 130px;
  border-radius: 4px;
  margin-bottom: 33px;
  position: relative;
  margin-right: 10%;
}

.clients__img img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.clients__img img:hover {
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
}

.feedback {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f4f4f4;
}

.feedback-slider_wrap {
  max-width: 90%;
  margin: 0 auto;
}

.feedback-slider img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}

.contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-block {
  position: absolute;
  top: 10%;
  left: 10%;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: 60px;
  padding-right: 34px;
  background-color: #fff;
}

.contacts-block a {
  text-decoration: none;
  color: #373737;
}

.contacts-block__title {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contacts-block__title:nth-child(-n+2)::before {
  content: '';
  position: absolute;
  top: 1;
  left: -28px;
  width: 20px;
  height: 25px;
  z-index: 2;
  background-repeat: no-repeat;
}

.contacts-block__title-address::before {
  background-image: url("../img/contacts/map.png");
}

.contacts-block__title-mail::before {
  background-image: url("../img/contacts/mail.png");
}

.contacts-block__title-phone::before {
  background-image: url("../img/contacts/phone.png");
}

.contacts-block__text {
  margin-bottom: 30px;
  line-height: 18px;
}

.map {
  width: 100%;
  height: 550px;
}

.title-mobile {
  display: none;
}

.footer {
  padding-top: 36px;
  padding-bottom: 35px;
  background-color: #1b1b1b;
  text-align: center;
}

.footer-text {
  font0-size: 13px;
  font-weight: 300;
  color: #fff;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup {
  position: fixed;
  left: 50%;
  top: 100px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 752px;
}

.popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  line-height: 71px;
}

.popup-form {
  background: #373737 url("../img/popup/popup-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
}

.popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.popup-form-header span {
  font-size: 24px;
}

.popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.popup-form__input {
  width: 365px;
  height: 56px;
  margin-top: 17px;
  padding: 21px 18px;
  font-family: 'Roboto', sans-serif;
  color: #373737;
  font-size: 14px;
  font-weight: 300;
  border: none;
  border-radius: 3px;
}

.popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #ff9d00;
}

.popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.overlay-thanks {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-descr {
  background: url("../img/popup/popup-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 1199px) {
  .main-img {
    margin-left: 0;
  }

  .main-text__title {
    margin-bottom: 20px;
  }

  .form-title {
    padding-right: 0px;
  }

  .form__input {
    max-width: 300px;
  }

  .numbers-block {
    width: 33%;
  }

  .menu-item::after {
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .hidden-mobile {
    display: none;
  }

  .header-logo {
    width: 70%;
    height: 61px;
    margin-left: 40px;
  }

  .header-contacts__phone {
    font-size: 19px;
  }

  .button:hover {
    background-color: #fd9c28;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .button-o:hover {
    color: rgba(55, 55, 55, 0.5);
    border: 1px solid rgba(55, 55, 55, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }

  .main {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .main-text__title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #fd9c28;
  }

  .main-text__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
  }

  .main-text__form {
    background-color: transparent;
  }

  .form {
    display: block;
  }

  .form-title {
    padding-right: 0;
    font-size: 20px;
    line-height: 25px;
  }

  .form__input {
    display: block;
    width: 280px;
    padding: 17px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }

  .form-small {
    font-size: 12px;
    margin-left: 0;
  }

  .popup {
    top: 10%;
    width: 80%;
    text-align: center;
  }

  .popup-title {
    font-size: 20px;
    max-height: 20px;
  }

  .popup-form-header {
    font-size: 20px;
    line-height: 23px;
  }

  .popup-form-header span {
    font-size: 16px;
    display: block;
  }

  .popup-form__label {
    font-size: 18px;
  }

  .popup-form__input {
    display: block;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .popup-form__btn {
    margin-left: 0;
  }

  .features {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .features-block {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 22px 16px;
    margin-bottom: 15px;
  }

  .features-block__img {
    margin-right: 11px;
    text-align: center;
    max-width: 100px;
  }

  .features-block__discr {
    line-height: 18px;
  }

  .numbers {
    margin-bottom: 37px;
    text-align: center;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .numbers-block__title {
    font-size: 30px;
  }

  .numbers-block__title sup {
    font-size: 16px;
  }

  .numbers-block__text {
    font-size: 14px;
    font-weight: 400;
  }

  .production {
    padding-top: 32px;
    padding-bottom: 43px;
    margin-bottom: 0px;
  }

  .production-block {
    margin-bottom: 30px;
    text-align: center;
  }

  .production-block-last {
    margin-bottom: 0px;
  }

  .production-block__img {
    margin-bottom: 10px;
  }

  .production-block__title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 700;
    color: #313131;
  }

  .production-block__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .production-block__button {
    margin-right: 11px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #313131;
    margin-bottom: 10px;
  }

  .section-title::after {
    content: '';
    display: none;
  }

  .clients {
    padding-bottom: 28px;
  }

  .clients__img {
    margin-right: 4%;
  }

  .clients__img img {
    -webkit-filter: none;
    filter: none;
  }

  .clients-title {
    margin-bottom: 20px;
  }

  .feedback-slider_wrap {
    max-width: 100%;
  }

  .manufacture-slider_top {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .manufacture-slider_bottom {
    display: none;
  }

  .manufacture-text {
    max-width: 100%;
    text-align: center;
  }

  .manufacture-text__descr {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align-last: center;
  }

  .manufacture-text__title {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    margin-bottom: 17px;
    margin-top: 0;
    z-index: 0;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }

  .menu {
    padding-top: 70px;
    padding-bottom: 70px;
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100vh;
    text-align: center;
    left: -100%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    opacity: 0.99;
  }

  .menu_active {
    left: 0;
  }

  .menu-item {
    width: 100%;
    display: block;
    border-right: none;
    margin-bottom: 14px;
    font-size: 16px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .menu-item::after {
    border-right: none;
  }

  .menu-item:hover {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .menu-items {
    display: block;
  }

  .menu-link {
    display: block;
    width: 23px;
    height: 17px;
    position: absolute;
    top: 20px;
    left: 15px;
  }

  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
    background-color: #333;
  }

  .menu-link span::before {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    content: '';
    margin-top: -6px;
  }

  .menu-link span::after {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    content: '';
    margin-top: 4px;
  }

  .menu-link_active span {
    background-color: transparent;
    z-index: 9;
  }

  .menu-link_active span::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: 0;
    background-color: #fff;
    position: fixed;
    left: 10%;
    top: 7%;
  }

  .menu-link_active span::after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: 0;
    background-color: #fff;
    position: fixed;
    left: 10%;
    top: 7%;
  }

  .contacts {
    padding-top: 0;
    padding-bottom: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }

  .contacts-block {
    position: static;
    padding-left: 34px;
  }

  .contacts-block__title:nth-child(-n+2)::before {
    display: none;
  }

  .title-mobile {
    margin-top: 19px;
    margin-bottom: 19px;
    display: block;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  .phone_link {
    margin-bottom: 8px;
  }

  .map {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .header-logo {
    background: #fd9c28 url("../img/header/logo-small.png") center no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-left: 30px;
  }

  .header-contacts__phone {
    font-size: 14px;
    margin-right: 0;
  }

  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-contacts__phone:first-child {
    border: none;
  }

  .header-contacts__button {
    padding: 7px;
  }

  .header-contacts__button img {
    height: 19px;
    width: 19px;
  }

  .features-blocks {
    display: block;
  }

  .features-block {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 22px 16px;
    margin-bottom: 15px;
  }

  .manufacture {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .manufacture-slider_bottom {
    display: none;
  }

  .menu-link {
    top: 9px;
  }
}

@media (max-width: 576px) {
  .header-logo {
    background: #fd9c28 url("../img/header/logo-small.png") center no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 4px;
  }

  .header-contacts__phone {
    font-size: 14px;
    margin-right: 0;
  }

  .header-contacts__phones {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-contacts__phone:first-child {
    border: none;
  }

  .phone_link-bold {
    font-weight: bold;
  }

  .main {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .main-text__title {
    font-size: 22px;
    color: #fd9c28;
  }

  .main-text__subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main-text__form {
    padding: 10px;
    background-color: transparent;
  }

  .form {
    display: block;
  }

  .form-title {
    padding-right: 0;
    font-size: 15px;
    line-height: 1.4;
  }

  .form__input {
    display: block;
    margin-bottom: 13px;
    margin-right: auto;
    margin-left: auto;
    padding: 17px;
    width: 280px;
    text-align: center;
  }

  .popup {
    top: 15px;
    text-align: center;
  }

  .popup-close {
    right: 5px;
    top: -5px;
  }

  .popup-title {
    font-size: 16px;
    max-height: 20px;
  }

  .popup-form {
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .popup-form-header {
    font-size: 18px;
    line-height: 23px;
  }

  .popup-form-header span {
    font-size: 14px;
    display: block;
  }

  .popup-form__label {
    font-size: 16px;
  }

  .popup-form__input {
    display: block;
    width: 240px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .features {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .features-blocks {
    display: block;
  }

  .features-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 31%;
    flex-basis: 31%;
    padding: 22px 16px;
    margin-bottom: 8px;
  }

  .features-block__img {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-right: 11px;
  }

  .features-block__discr {
    line-height: 18px;
  }

  .numbers {
    margin-bottom: 37px;
    text-align: center;
  }

  .numbers-block {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  .numbers-block__title {
    font-size: 30px;
  }

  .numbers-block__title sup {
    font-size: 16px;
  }

  .numbers-block__text {
    font-size: 14px;
    font-weight: 400;
  }

  .production {
    padding-top: 32px;
    padding-bottom: 43px;
    margin-bottom: 0px;
  }

  .production-block {
    margin-bottom: 30px;
    text-align: center;
  }

  .production-block-last {
    margin-bottom: 0px;
  }

  .production-block__img {
    margin-bottom: 10px;
  }

  .production-block__title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: 700;
    color: #313131;
  }

  .production-block__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .production-block__button {
    margin-right: 11px;
  }

  .section-title {
    margin-top: 0px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #313131;
    margin-bottom: 10px;
  }

  .section-title::after {
    content: '';
    display: none;
  }

  /* SECTION OFFER */

  .offer {
    padding-top: 50px;
    padding-bottom: 52px;
  }

  .offer-title {
    font-size: 20px;
    font-weight: 700;
  }

  .offer-subtitle {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
  }

  .offer-form__label {
    margin-top: 30px;
    margin-bottom: 22px;
    font-size: 14px;
  }

  .manufacture {
    overflow: hidden;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .manufacture-slider_top img {
    height: 380px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .manufacture-slider_bottom {
    display: none;
  }

  .manufacture-text__title {
    width: auto;
    margin-left: -150px;
    margin-right: -150px;
  }

  .feedback {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .feedback-slider img {
    max-width: 250px;
  }

  .clients__img {
    margin-bottom: 7px;
  }

  .clients__img img {
    padding: 10px;
  }

  .clients-title {
    margin-bottom: 18px;
  }

  .footer-text {
    font-size: 11px;
  }

  .popup-descr {
    padding: 40px 10px 40px 10px;
  }

  .map {
    max-height: 420px;
  }
}